<ion-content class="auth">
  <div text-center class="padding" *ngIf="!register">
    <img src="{{api.url + 'img/logo.png'}}" alt="logo" class="logo">
  </div>
  <br>
  <h1 text-center color="primary"> Iniciar Sesión</h1>
  <div padding class="login-form">
    <!-- <form> -->
    <div class="login" *ngIf="!register">

      <ion-item style="background:rgba(255,255,255,0.3)">
        <ion-label floating>Email (Usuario)</ion-label>
        <ion-input type="email" [(ngModel)]="api.username"></ion-input>
      </ion-item>
      <ion-item style="background:rgba(255,255,255,0.3)">
        <ion-label floating>Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="api.password"></ion-input>
      </ion-item>
      <button ion-button large color="primary" full (click)="doLogin()"> Entrar</button>
      <button ion-button color="danger" clear full clear (click)="forgotPassword()"> Olvide mi Contraseña</button>
    </div>

    <div showWhen="android,windows"  class="register" *ngIf="register">
      <ion-item style="background:rgba(255,255,255,0.3)">
        <ion-label floating>Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="send.nombre"></ion-input>
      </ion-item>
      <ion-item style="background:rgba(255,255,255,0.3)">
        <ion-label floating>Email (Usuario)</ion-label>
        <ion-input type="email" [(ngModel)]="send.email"></ion-input>
      </ion-item>
      <ion-item hideWhen="ios" style="background:rgba(255,255,255,0.3)">
        <ion-label floating>Cedula</ion-label>
        <ion-input type="number" [(ngModel)]="send.cedula"></ion-input>
      </ion-item>
      <ion-item style="background:rgba(255,255,255,0.3)">
        <ion-label floating>Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="send.password"></ion-input>
      </ion-item>
      <ion-item style="background:rgba(255,255,255,0.3)">
        <ion-label floating>Confirmar Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="send.password_confirmation"></ion-input>
      </ion-item>

      <button ion-button color="primary" full [disabled]="!canRegister()" (click)="doRegister()"> Registrarse</button>
    </div>

    <button showWhen="android,windows" ion-button color="secondary" *ngIf="registrationOpen" full (click)="registrarse()">{{ register ? 'Ya Registrado?' : 'Registrarse' }}</button>

  </div>


</ion-content>
