<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>Alimentos EYC</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="container-fluid">
  <ion-slides autoplay="4000" style="height:50%" *ngIf="sliders.length" loop="true" pager="true" parallax="true">
    <ion-slide *ngFor="let slider of sliders"> <img [src]="slider.image_url" style="width:100%" onerror="this.style.display = 'none'" alt="" /> </ion-slide>
  </ion-slides>

  <ion-fab bottom right *ngIf="canOrder">
    <button ion-fab color="secondary" (click)="orderAdmin()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
