
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Mi Pedido</ion-title>
  	<ion-buttons end>
		<button ion-button (click)="close()" icon-only>
			<ion-icon name="close"></ion-icon>
		</button>
	</ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<h2 text-center color="secondary" text-uppercase>Pedido de {{pedido.tipo}}  ya realizado</h2>
    <ion-list>
        <ion-item *ngFor="let prod of pedido.items">
            <ion-avatar item-left *ngIf="prod.image">
                <img [src]="prod.image.url" alt="">
            </ion-avatar>
            <h3>{{prod.name}}
				<p [innerHTML]="prod.description"></p>
                <ion-badge color="favorite" *ngIf="prod.categoria_id == 39">Periferico</ion-badge>
            </h3>
            <ion-badge item-right>{{prod.cantidad_pedidos}}</ion-badge>
        </ion-item>
    </ion-list>
	<h5 text-center ion-text color="favorite">
		Su pedido sera enviado a: {{pedido.direccion_envio}}
	</h5>
</ion-content>
